
.Rproj.user






src/tools/__pycache__/
data

src/output
src/output/1_section
src/output/1_section/1_users_in_thread_reddit.png
src/output/1_section/2_lifetime_thread_reddit.csv
src/output/1_section/2_lifetime_thread_reddit.png
src/output/1_section/3_concentration_of_comments_gab.csv
src/output/1_section/3_concentration_of_comments_gab.png
src/output/1_section/3_concentration_of_comments_reddit.csv
src/output/1_section/3_concentration_of_comments_reddit.png
